.ListContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.listWraper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    height:max-content;
    overflow: hidden;
    flex: 1;
    background-color: khaki;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    
}

.listTitle{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
  
}
.listResult{
flex: 3;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.lsItem>label{
    font-size: 12px;
}

.lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;

}
.lsOptions{
    padding: 15px;
}
.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 100%;
    font-weight: 500;

}
.lsOptionInput{
    width: 50px;
}